
a{
    color:#005689;
    cursor:pointer;
    text-decoration:none
}
a:hover,a:focus{
    text-decoration:underline
}
a:active{
    color:#4bc6df;
    text-decoration:none
}

menu,ol,ul{
    padding:0;
    margin-left:1.5625rem
}
nav ul,nav ol{
    list-style:none;
    list-style-image:none
}

html{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased
}
body{
    font-family:Georgia, serif;
    font-size:100%;
    line-height:1.5;
    color:#121212;
    background:rgba(51,51,51,0.05)
}
.main-body{
    background:#ffffff;
    max-width:37.5rem;
    margin:0 auto;
    
    overflow-x:hidden;
}
html,body{
    text-rendering:optimizeSpeed
}
h1,h2,h3,h4,h5,h6{
    margin:0
}
p{
    font-size:1rem;
    font-weight:300;
    margin-top:0;
    margin-bottom:0.5rem
}
h3{
    font-size:1rem;
    line-height:1.5rem;
    font-weight:normal;
    margin-bottom:0.4375rem
}

.header{
    background-color:#e9eff1;
    border-bottom:0.0625rem solid #abc2c9;
    color:#121212;
    position:relative;
    max-width:37.5rem;
    margin:0 auto
}
.header_position{
    left:-0.625rem;
    position:absolute;
    top:0
}
@media (min-width: 30em){
    .header_position{
        left:0
    }
}
.header_logo{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    float:none;
    margin-left:auto
}
.header_logo_svg{
    display:block;
    height:3.25rem;
    width:9.9375rem;
    margin-bottom:0.9375rem;
    margin-right:2.8125rem;
    margin-top:0.1875rem
}
@media (min-width: 22.5em){
    .header_logo_svg{
        height:3.5625rem;
        margin-right:0.625rem;
        width:10.9375rem
    }
}
@media (min-width: 30em){
    .header_logo_svg{
        margin-right:1.25rem
    }
}
.header_linkstyle{
    color:#e9eff1
}
.header_circletext{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    padding:0.5625rem 1.25rem 0.1875rem;
    position:relative;
    font-size:0.8125rem;
    line-height:1.2;
    text-align:center
}

.header_drawcircle{
    bottom:-0.75rem;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
    -webkit-transition:-webkit-transform 250ms ease-out;
    transition:-webkit-transform 250ms ease-out;
    transition:transform 250ms ease-out;
    transition:transform 250ms ease-out, -webkit-transform 250ms ease-out;
    -webkit-transform-origin:top center;
    transform-origin:top center
}
.header_drawcircle:before{
    background:#121212;
    -webkit-border-radius:50%;
    border-radius:50%;
    bottom:0;
    content:'';
    display:block;
    left:0;
    padding-top:100%;
    position:absolute;
    right:0
}
.ul_nav{
    height:1.875rem;
    margin:0;
    padding:0 0.625rem
}
@media (min-width: 30em){
    .ul_nav{
        padding-left:1.25rem;

    }
}
.li_nav{
    display:block;
    float:left;
    font-weight:500;
}
.li_nav:first-child .nav_link{
    padding-left:0;
    
}
.li_nav:first-child .nav_link:before{
    content:none
}
.li_nav:nth-child(1){
    color:#c70000;
}
.li_nav:nth-child(2){
    color:#e05e00;
}
.li_nav:nth-child(3){
    color:#0084c6
}
.li_nav:nth-child(4){
    color:#a1845c
}
.li_nav:nth-child(5){
    color:#bb3b80
}
.nav_link{

    font-size:0.9375rem;
    font-weight:900;
    display:block;
    height:1.875rem;
    line-height:1;
    padding:0 0.25rem;
    position:relative;
    color:currentColor;
    cursor:pointer
}
@media (min-width: 22.5em){
    .nav_link{
       /* font-size:1rem*/
    }
}
.nav_link:before{
    content:'';
    display:block;
    left:0;
    bottom:0;
    position:absolute;
    border-left:0.0625rem solid #abc2c9;
    top:0.1875rem
}
.menu-burger{
    background-color:#121212;
    top:1.5rem;
    -webkit-box-shadow:0 0 0 0.0625rem rgba(0,0,0,0.08);
    box-shadow:0 0 0 0.0625rem rgba(0,0,0,0.08);
    color:#e9eff1;
    cursor:pointer;
    height:2.5rem;
    min-width:2.5rem;
    position:absolute;
    border:0;
    -webkit-border-radius:50%;
    border-radius:50%;
    outline:none;
    right:0.3125rem
}
@media (min-width: 22.5em){
    .menu-burger{
        bottom:-0.375rem;
        height:3rem;
        min-width:3rem;
        top:auto
    }
}
@media (min-width: 30em){
    .menu-burger{
        right:3.1875rem
    }
}
.menu-burger_icon{
    margin-top:-0.0625rem;
    right:0;
    margin-left:auto;
    margin-right:auto
}
.menu-burger_icon,.menu-burger_icon:before,.menu-burger_icon:after{
    background-color:currentColor;
    content:'';
    height:0.125rem;
    left:0;
    position:absolute;
    width:1.25rem
}
.menu-burger_icon:before{
    top:-0.375rem
}
.menu-burger_icon:after{
    bottom:-0.375rem
}
.menu{
    background-color:#e9eff1;
    color:#121212;
    width:80vw
}
.menu div:first-of-type{
    overflow-y:scroll
}


.cross-btn
{
    float:right;
}
 .top_padding_20 {
     margin-top: 20px;
}
 .menu_style {
     padding-left: 10px;
     margin-top:-30px;
}
}
/* li styling top menu*/
 .link_style {
     border-right: 1px solid #999;
     padding-right: 3px;
     height: 30px;
}
/*side menu link position*/
 .side_menu {
     margin-top: 15px;
}
/*Styling every parent link in the side menu*/
 .side_menu_1 {
     display: inline-block;
     padding-left:28px;
     padding-bottom: 5px;
     font-size: 18px;
     background:transparent;
     border:1px solid #EFEFEF;
}
/*styling the separator between the parent links*/
 .side_menu_2 {
     margin-top: 5px;
     margin-left: 0px;
}
/*child menu links in sidebar*/
 .side_menu_3 {
     list-style: none;
     margin-bottom: 8px;
}
 .top_padding_20 {
     margin-top: 20px;
}
 .side_menu_4 {
     margin-left: 25px;
}
/*styling background of submenu in sidebar*/
 .side_menu_5 {
     background-color:lightgray;
}
/*styling the sub links in the parent page*/
 .side_menu_sub_link{
     text-decoration: none;
     color:black;
     font-weight:100;
}
/*color wise styling for each sub menu in the parent page */
.side_menu_sub_link_1
{    margin-left: 5px;
     color:#c70000;
}
 .side_menu_sub_link_2 {
     margin-left: 5px;
     color:#e05c00;
}
 .side_menu_sub_link_3 {
     margin-left: 5px;
     color:#0084c6;
}
 .side_menu_sub_link_4 {
     margin-left: 5px;
     color:#a1845c;
}
 .side_menu_sub_link_5 {
     margin-left: 5px;
     color:#bb3b80;
}
/*active submenu link styling*/
.side_menu_sub_link_active
{
  margin-left:5px;
  color:black;
  font-weight: bold;
  text-decoration: none;
}
.c1, .c2, .c3, .c4, .c5 {
     text-decoration: none;
     font-weight: bold;
     font-size:1.5rem;
     color:#c70000;
     display: inline-block;
     
}
 .c2 {
     color:#e05c00;
}
 .c3 {
     color:#0084c6;
}
 .c4 {
     color:#a1845c;
}
 .c5 {
     color:#bb3b80;
}
.side-margins
{
    margin-left: 10px;
}
.content__header{
    background-image:-webkit-repeating-linear-gradient(top, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-image:repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-repeat:repeat-x;
    background-position:bottom;
    -webkit-background-size:0.0625rem 1.8125rem;
    background-size:0.0625rem 1.8125rem
    }
    .container
    {
         padding-left:0.625rem;
    padding-right:0.625rem;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
    }
    .content__headline{
    font-size:1.75rem;
    line-height:2rem;
    font-weight:400;
    letter-spacing:-.02rem;
    padding-top:0.375rem;
    padding-bottom:1.5rem
}
.content__headline a,.content__headline a:hover,.content__headline a:active,.content__headline a:focus{
    color:#333
}
.content__headline em{
    font-style:normal
}
.content__headline strong{
    font-weight:normal
}
.content__headline--byline{
    display:block;
    padding-top:0;
    margin-top:-1.5rem;
    padding-bottom:1.5rem
}
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>